/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&caps_word>;
            key-positions = <24 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            // --------------------------------------------------------------------------------
            // |      |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |      |
            // |      |  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  |  O  |      |
            // |      |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  |      |
            //                    |     | NUM | ENT |   | SPC | SYM  |     |

            display-name = "alpha";
            bindings = <
&kp GRAVE         &kp Q    &kp W    &kp F             &kp P      &kp B      &kp J      &kp L          &kp U         &kp Y    &kp APOS  &kp LA(BACKSPACE)
&kp LEFT_CONTROL  &kp A    &kp R    &kp S             &kp T      &kp G      &kp M      &kp N          &kp E         &kp I    &kp O     &kp LEFT_BRACKET
&kp LSHFT         &lt 2 Z  &lt 1 X  &kp C             &kp D      &kp V      &kp K      &kp H          &kp COMMA     &kp DOT  &kp FSLH  &kp RSHIFT
                                    &kp LEFT_COMMAND  &kp ENTER  &kp TAB    &kp SPACE  &kp BACKSPACE  &kp LEFT_ALT
            >;
        };

        sym {
            bindings = <
&trans  &kp TILDE  &none   &kp MINUS  &kp LBRC  &kp EXCL            &kp EQUAL  &kp RBRC  &kp PLUS  &kp DQT    &trans    &kp DLLR
&trans  &kp PIPE   &none   &kp FSLH   &kp LPAR  &kp COLON           &kp SEMI   &kp RPAR  &kp STAR  &kp QMARK  &kp AMPS  &kp AT
&trans  &kp LT     &trans  &kp HASH   &kp LBKT  &kp PERCENT         &kp UNDER  &kp RBKT  &trans    &trans     &kp GT    &kp CARET
                           &kp LCTRL  &kp LALT  &kp LEFT_COMMAND    &trans     &trans    &trans
            >;

            label = "sym";
        };

        num {
            bindings = <
&trans  &none   &none  &none      &kp GRAVE  &none       &none      &kp N7  &kp N8  &kp N9  &kp N0    &kp EQUAL
&trans  &none   &none  &kp LPAR   &kp RPAR   &none       &kp COMMA  &kp N4  &kp N5  &kp N6  &kp PLUS  &kp MINUS
&trans  &trans  &none  &kp LT     &kp GT     &none       &kp DOT    &kp N1  &kp N2  &kp N3  &kp STAR  &kp FSLH
                       &kp LCTRL  &kp LALT   &kp LGUI    &trans     &trans  &trans
            >;

            label = "num";
        };
    };
};
